.App {
  min-height: 100vh;
  background: rgb(255, 242, 230);
  background: linear-gradient(
    90deg,
    rgba(255, 242, 230, 1) 0%,
    rgba(255, 255, 234, 1) 100%
  );
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
}
.search-button {
  background: rgb(255, 172, 172);
  border: none;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 0px;
  color: white;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
